<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:01</td>   <td>0</td> <td title="&gt;&gt;TestBase.Start()[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:02</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startDriver()[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:12</td>   <td>11009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationTestCases.initPageObject()[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;initPageObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:13</td>   <td>11138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:13</td>   <td>11141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Sucessfull_URL_Rediredction()[pri:1, instance:tests.RegistrationTestCases@548e7350]">Sucessfull_URL_Rediredction</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:13</td>   <td>11164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:13</td>   <td>11167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:13</td>   <td>11170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Proper_Registration_Content()[pri:2, instance:tests.RegistrationTestCases@548e7350]">Proper_Registration_Content</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:13</td>   <td>11456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:14</td>   <td>12242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:14</td>   <td>12242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@548e7350]">RegistrationValidationTrials</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:18</td>   <td>16866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:18</td>   <td>16867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:18</td>   <td>16867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@548e7350]">RegistrationValidationTrials</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:22</td>   <td>20697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:22</td>   <td>20698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:22</td>   <td>20698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@548e7350]">RegistrationValidationTrials</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:26</td>   <td>24653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:26</td>   <td>24654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:26</td>   <td>24654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.RegistrationValidationTrials(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:3, instance:tests.RegistrationTestCases@548e7350]">RegistrationValidationTrials</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:30</td>   <td>28618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:30</td>   <td>28690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setLogs(java.lang.reflect.Method)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&gt;&gt;setLogs</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>20/01/29 16:08:30</td>   <td>28690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationTestCases.Random_Successful_Login(java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:tests.RegistrationTestCases@548e7350]">Random_Successful_Login</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:38</td>   <td>36278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:38</td>   <td>36278</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.exitDriver()[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;exitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>20/01/29 16:08:38</td>   <td>36484</td> <td title="&lt;&lt;TestBase.End()[pri:0, instance:tests.RegistrationTestCases@548e7350]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
